@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
body {
  margin: 0 !important;
  overflow-x: hidden;
  height: 100%;
  background: #F1F3F9 !important;
}

.alert-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}
.alert-box .error {
  background: #585A56;
}
.alert-box .success {
  background: #81A3A7;
}
.alert-box .alert {
  width: auto;
  max-width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px 30px 0 0;
}
.alert-box .alert p {
  width: auto;
  font-family: "Manjari", sans-serif;
  font-size: 100;
  font-size: 1.1em;
  color: #272424;
  padding: 0 50px;
}

/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0 !important;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navigation {
  width: 100%;
  height: 50px;
  background: #81A3A7;
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.navigation .nav-box {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.navigation .nav-box .logo {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigation .nav-box .logo h1 {
  font-size: 1.6em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #272424;
}
.navigation .nav-box .items {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .nav-box .items .search-box {
  background: transparent;
  border: 2px solid #585A56;
  border-radius: 5px;
  height: 2em;
  width: 250px;
  display: flex;
  position: relative;
  margin-right: 50px !important;
}
.navigation .nav-box .items .search-box input[type=text] {
  height: 100%;
  width: 200px;
  background: none;
  border: none;
  outline: none;
  padding: 0px 10px;
  color: #272424;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.navigation .nav-box .items .search-box input[type=text] .result {
  width: 100%;
  box-sizing: border-box;
}
.navigation .nav-box .items .search-box .icon {
  width: 50px;
  height: 100%;
  background: #585A56;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation .nav-box .items .search-box .icon i {
  font-size: 20px;
  color: #272424;
}
.navigation .nav-box .items .search-box .result {
  position: absolute;
  z-index: 999;
  top: 30px;
  left: 0;
  background: #81A3A7;
  width: 200px;
  max-height: 72px;
  overflow-y: auto;
}
.navigation .nav-box .items .search-box .result p {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #C2D3DA;
  border-top: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #272424;
}
.navigation .nav-box .items .search-box .result p:hover {
  background: #585A56;
}
.navigation .nav-box .items .user-box {
  min-width: 300px;
  height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .nav-box .items .user-box .dropdown-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navigation .nav-box .items .user-box .dropdown-holder .img-box {
  width: 35px;
  height: 35px;
  border: 2px solid #585A56;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px !important;
}
.navigation .nav-box .items .user-box .dropdown-holder .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.navigation .nav-box .items .user-box .dropdown-holder h2 {
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #272424;
}
.navigation .nav-box .items .user-box .dropdown-holder i {
  font-size: 1.5em;
  color: #272424;
  padding-left: 10px;
  padding-top: 5px;
}
.navigation .nav-box .items .user-box .dropdown-holder:hover .dropdown-content {
  visibility: visible;
}
.navigation .nav-box .items .user-box .dropdown-holder .dropdown-content {
  visibility: hidden;
  position: absolute;
  background: #81A3A7;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 35px;
  right: 0;
  z-index: 1;
}
.navigation .nav-box .items .user-box .dropdown-holder .dropdown-content p {
  margin: 0;
  padding: 10px 5px;
  border-bottom: 1px solid #C2D3DA;
  border-top: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #272424;
}
.navigation .nav-box .items .user-box .dropdown-holder .dropdown-content p:hover {
  background: #585A56;
}

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.login-container .form-container {
  height: auto;
  width: 25%;
  background: #81A3A7;
  position: relative;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}
.login-container .form-container::after {
  content: "";
  height: 100%;
  width: 100%;
  background: #585A56;
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: -1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.login-container .form-container h1 {
  color: #272424;
  text-align: center;
  font-size: 1.6em;
  width: 100%;
  padding-bottom: 50px;
  font-family: "Manjari", sans-serif;
  font-weight: 700;
}
.login-container .form-container .input-login {
  display: block;
  color: #F1F3F9;
  margin: 5px 0px 20px 0px;
  width: 100%;
  line-height: 30px;
  font-size: 15px;
  border: none;
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #F1F3F9;
  text-align: center;
  align-self: center;
}
.login-container .form-container .label-login {
  font-size: 1.3em;
  font-family: "Manjari", sans-serif;
  align-self: center;
}
.login-container .form-container .field-wrap-login {
  align-self: center;
  width: 60%;
}
.login-container .form-container .button-login {
  margin-top: 25px !important;
  align-self: center;
  padding: 10px;
  width: 100px;
  font-size: 15px;
  background-color: transparent;
  border: 3px solid #F1F3F9;
  cursor: pointer;
  color: #272424;
  font-family: "Manjari", sans-serif;
  transition: 0.2s;
}
.login-container .form-container .button-login:hover {
  background-color: #F1F3F9;
}

/*# sourceMappingURL=styles.css.map */
